/* :: Fonts Names */
$NeulandGrotesk-CondensedBold: "NeulandGrotesk-Condensed-Bold";
$NeulandGrotesk-CondensedRegular: "NeulandGrotesk-CondensedRegular";

/* Font Family */
$default-font-family:  Arial, "Times New Roman", Helvetica, sans-serif;

/* Global Fontsize */


/* color names */

$color-primary: #bd3d04;
$color-white: #ffffff;

